<main>
    <div class="center-screen">
        <section class="form-gradient mb-5">
            <mdb-card>

                <!--Header-->
                <div class="header purple-gradient">

                    <div class="row d-flex justify-content-center">
                        <h3 class="white-text mb-0 py-4 font-weight-bold">Edit Equipe</h3>
                    </div>

                </div>
                <!--Header-->

                <mdb-card-body class="mx-4">

                    <form [formGroup]="editEquipeForm" (ngSubmit)="editEpisode()">
                        <div class="md-form">
                            <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
                            <input type="text" mdbValidate id="form106" class="form-control" mdbInput formControlName="name">
                            <label for="form106">Name</label>
                            <mdb-error *ngIf="editEquipeForm.get('name')?.invalid && (editEquipeForm.get('name')?.dirty ||editEquipeForm.get('name')?.touched)">enter an nom</mdb-error>
                            <mdb-success *ngIf="editEquipeForm.get('name')?.valid && (editEquipeForm.get('name')?.dirty || editEquipeForm.get('name')?.touched)"></mdb-success>
                        </div>

                        <div class="md-form">
                            <mdb-icon fas icon="users" class="prefix grey-text"></mdb-icon>
                            <input type="text" mdbValidate id="form107" class="form-control" mdbInput formControlName="teamLeader">
                            <label for="form107">teamLeader</label>
                            <mdb-error *ngIf="editEquipeForm.get('teamLeader')?.invalid && (editEquipeForm.get('teamLeader')?.dirty || editEquipeForm.get('invites')?.touched)">the invites ?</mdb-error>
                            <mdb-success *ngIf="editEquipeForm.get('teamLeader')?.valid && (editEquipeForm.get('teamLeader')?.dirty || editEquipeForm.get('invites')?.touched)"></mdb-success>
                        </div>



                        <!--Grid row-->
                        <div class="row d-flex align-items-center mb-3 mt-4">

                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="submit" mdbBtn color="grey" rounded="true" class="z-depth-1a" [disabled]="editEquipeForm.invalid">Save</button>
                                    <button type="button" mdbBtn color="red" rounded="true" class="z-depth-1a" (click)="init()">Reset</button>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                    </form>

                </mdb-card-body>

            </mdb-card>
            <!--/Form with header-->
        </section>
    </div>
</main>


<!-- Model info-->
<div mdbModal #info="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-info modal-side modal-bottom-right" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Equipe was updated successfuly</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Model info-->