table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 95%;
    margin-left: 20px;
    margin-right: 6px;
}

.tabname {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

.mat-column-nom {
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 28% !important;
    //width: 28% !important;
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-invites {
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 28% !important;
    //width: 28% !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-sequence {
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 28% !important;
    //width: 28% !important;
    flex: 0 0 22% !important;
    width: 22% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-datecreation {
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 28% !important;
    //width: 28% !important;
    flex: 0 0 16% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-podcast {
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 28% !important;
    //width: 28% !important;
    flex: 0 0 12% !important;
    width: 12% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-header-cell:nth-child(2) {
    padding-left: 20px;
}

.mat-header-cell:nth-child(3) {
    padding-left: 30px;
}

.mat-header-cell:last-child {
    padding-left: 25px;
}

.mat-header-cell {
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.spe {
    margin-top: 10px;
}