<!-- <main>
    <div class="center-screen">
        <section class="form-gradient mb-5">
            <section fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-card fxFlex="500px" fxFlex.xs="100%">
                    <mat-card-title class="sectionn">Create a new team</mat-card-title>
                    <form [formGroup]="" autocomplete="off" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

                        <mat-card-content>
                            <mat-select name="chef d'equipe">
                                <mat-option>
                                    names </mat-option>
                            </mat-select>
                        </mat-card-content>
                        <mat-card-actions>
                            <mat-card-actions class="ab">
                                <button mat-raised-button color="primary">Create</button>
                                <button mat-raised-button color="warn">Cancel</button>
                            </mat-card-actions>
                        </mat-card-actions>
                    </form>
                </mat-card>
            </section>
        </section>
    </div>
</main> -->
<main>
    <div class="container-fluid">

        <!-- Section: Basic examples -->
        <section>
            <h5 class="my-4 dark-grey-text font-weight-bold">Table des equipes</h5>

            <!-- Top Table UI -->
            <div class="card p-2 mb-5">
                <!-- Grid row -->
                <div class="row">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="word to look for">
                    </mat-form-field>
                </div>
                <!-- Grid row -->
            </div>
            <!-- Top Table UI -->

            <div class="card card-cascade narrower z-depth-1">

                <!-- Card image -->
                <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 justify-content-between align-items-center">

                    <a href="" class="tabname white-text mx-3">Equipes</a>

                </div>
                <!-- Card image -->

                <div class="px-4">
                    <div class="table-responsive">
                        <!-- Table -->
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- Nom Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                            </ng-container>

                            <!-- invites Column -->
                            <ng-container matColumnDef="teamLeader">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> teamLeader </th>
                                <td mat-cell *matCellDef="let row"> {{row.teamLeader}} </td>
                            </ng-container>
                            <!-- Sequence Column -->




                            <!-- Podcast Column -->
                            <ng-container matColumnDef="employee">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>employee </th>
                                <td mat-cell *matCellDef="let row"> {{row.employee}} </td>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect [routerLink]="['../team',row._id,'edit']"><mdb-icon fas icon="pencil-alt"></mdb-icon></button>
                                    <button mdbBtn floating="true" gradient="peach" size="sm" mdbWavesEffect><mdb-icon fas icon="minus" (click)="onDelete(row._id)"></mdb-icon></button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>

                        <!-- Table -->
                    </div>

                    <hr class="my-0">

                    <!-- Bottom Table UI -->
                    <div class="d-flex justify-content-between">
                        <!-- Pagination -->
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        <!-- /Pagination -->

                    </div>
                    <!-- Bottom Table UI -->

                </div>

            </div>

        </section>
        <!-- Section: Basic examples -->
    </div>
    <hr class="my-5">
</main>


<!-- Model delete-->
<div mdbModal #delete="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-danger modal-side modal-bottom-right" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Episode was deleted</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
                </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Model delete-->