mdb-card {
    width: 850px;
}

mdb-select {
    width: 96%;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    margin-left: 30px;
    width: 96%;
}